<div class="user-details">
  <h1>Hello</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>&quot;Lone Pine&quot;</h2>
    <p>An ode to my favorite beer, Lone Pine's Quantum Cuddle Kitten.</p>
    <iframe width="320" height="240" src="https://www.youtube.com/embed/iQOHbD9S2hM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="tech">
    <h2>&quot;I've Got Space&quot;</h2>
    <p>My song &quot;I've Got Space&quot; is available on all the streaming services.</p>
    <iframe width="320" height="240" src="https://www.youtube.com/embed/zzRqYXVrud4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="tech">
    <h2>&quot;Devil's Highway&quot;</h2>
    <p>A clip from my show at The Parlour in Providence, RI in November 2019.</p>
    <iframe width="320" height="240" src="https://www.youtube.com/embed/GwtUvCwr1pM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
